*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}
/************************** header */
header{
    background-color: rgba(0, 0, 0, 0.274);
}
header article{
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 10%;
}
.nav-name{
    margin-left: 10%;
    margin-top: 5%;
    color: white;
    font-size: 2.5em;
}
.nav-liste a:hover{
    color: white;
    border: 10px black solid;
    background-color: black;
    border-radius: 30px;
}


/* main ******************/
main{
    height: 80vh;
    background: url(/assets/img/photo-1562229125-6d6075419a22.jpeg)center/cover no-repeat;
    position: sticky;
}
.container{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.bt {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F2CB05;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
}
.games-box{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}
.game-box{
    height: 40vh;
    width: 90%;
    margin: auto;
}
.container p{
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    color: #F2CB05;
}
.frame{
	text-align: center;	
	position: relative;
	cursor: pointer;	
	perspective: 500px; 
}
.frame img {
	width: 80%;
	height: 80%;
}
.frame .details {
	width: 60%;
	height: 80%;	
	padding: 5% 8%;
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: rgba(255,255,255,0.9);	
	opacity: 0;
	transition: all 0.4s ease-in;
	
}
.frame:hover .details {
	transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
}