*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}
/************************** header */
header{
    margin: 0;
    padding-left: 20px;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0.331);
}
.logo{
    color: red;
}
nav a{
    text-decoration: none;
    color: black;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 10px;
}
nav li{
    padding-right: 40px;
    text-decoration: none;

}
nav{
    display: flex;
    justify-content: space-around;
}
/* main ******************/
main{
    height: 90vh;
    
   background: url(/assets/img/photo-1562229125-6d6075419a22.jpeg)center/cover no-repeat;
}
.container{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.bt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2A00D7;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
}
.games-box{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}
.game-box{
    height: 30vh;
    width: 25%;
    border: 1px  solid black ;
    border-radius: 2px;
    margin: auto;
}
.container p{
    padding-left: 350px;
    padding-right: 350px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    color: #7345FF;
}